<form [formGroup]="form" class="form-container">
   <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input formControlName="username"  matInput type="text">
      <mat-error *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['required']">
         Username is required
      </mat-error>
      <mat-error *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['minlength']">
         Min length should be 3
      </mat-error>
      <mat-error *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['maxlength']">
         Max length can be 25
      </mat-error>
   </mat-form-field>

   <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email">
   </mat-form-field>

   <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput type="text">
   </mat-form-field>

   <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password">
   </mat-form-field>
   <div class="button-container ">
      <button mat-flat-button color="primary">Submit</button>
   </div>
</form>